*
{
    /* color: #fafaf9; */
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    

}

body{
    background-color: #292524;
    color: #fafaf9;
    font-family: "coiny",sans-serif;
    padding : 40px ;


}
.header
{
    margin-bottom: 40px;
    /* background-color: red; */
    display: flex;
    align-items:center;
    justify-content:space-between;
    /* padding: 10px; */
}
.logo
{
    /* background-color: blue; */
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:16px;`

}

.fact-form
{
    background-color: #44403c;
    margin-bottom: 40px;
    padding : 16px 40px;
    text-align: center;

}
h1{
    /* text-align: center;  we commented it because its not the part of the design */

    font-size: 42px;
    text-transform: uppercase;
    /* color: #fafaf9; */
    /* background-color: purple; */
    /* line-height: 1; */
}
.fact{
    font-size: 20px;
    line-height: 1.4;
    font-family: "sono",sans-serif;
    /* color: #fafaf9; */
    background-color: #44403c;
    margin-bottom: 16px;
    padding: 16px 24px ;
    /* border: 4px solid red ; */


}
.tag{

    text-transform: uppercase;
    font-size:14px ;
    font-family: "coiny",sans-serif;
    /* color: #fafaf9; */
    /* background-color: red; */
    /* margin: 100px; */
    /* padding : 100px; */
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;

}
ul{
    list-style: none;
}

/* we can observe the DRY principle violation , to solve this we uses global selector (*) */

